<h2>rentalItems</h2>
<div>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">New rentalItems</button>
</div>
<div *ngIf="rentalItems">
    <table mat-table [dataSource]="rentalItems" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="kindId">
            <th mat-header-cell *matHeaderCellDef> Kind </th>
            <td mat-cell *matCellDef="let element"> {{element.kind?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="rentalRate">
            <th mat-header-cell *matHeaderCellDef> rentalRate </th>
            <td mat-cell *matCellDef="let element"> {{element.rentalRate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>