<mat-toolbar color="primary" style="flex-direction: row; box-sizing: border-box; display: flex;">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/hire-requests">Rentals</button>
      <button mat-menu-item routerLink="/vehicles">RentalItems</button>
    </mat-menu>
    <div style="flex-grow: 1;">My App</div>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>